.technology-overview {
    background-color: white;
    /* padding: 50px; */
    /* margin-top: -100px; */
  }
  
  .text-column {
    padding-right: 20px; 
  }
  
  .button-column {
    padding-left: 20px; 
  }
  
  .arrow {
    margin-left: 5px;
  }
  