.technology-overview {
    background-color: #f8f9fa;
    padding: 50px;
  }
  
  .text-column {
    padding-right: 20px; 
  }
  
  .button-column {
    padding-left: 20px; 
  }
  .arrow {
    margin-left: 5px; 
  }

  .cal1{
    color: blue;
  }
 
  